In [1]:
#import quandl
import requests
from requests.auth import HTTPBasicAuth
#import simplejson as json
import json
import pandas as pd
from bokeh.plotting import figure
from bokeh.io import show, output_notebook
from bokeh.models import ColumnDataSource
import bokeh

In [2]:
payload = ('bhavikaj@gmail.com','bhavikaj-di')
ticker = 'GOOG'
url = 'https://www.quandl.com/api/v3/datatables/WIKI/PRICES.json?ticker='+ticker+'&api_key=BQR2bnRMkoJwe8QVn_6_'
req = requests.get(url, auth=HTTPBasicAuth('bhavikaj@gmail.com','bhavikaj-di'))

In [3]:
print(req.encoding)      # returns 'utf-8'
print(req.status_code)   # returns 200
print(req.elapsed)       # returns datetime.timedelta(0, 1, 666890)
print(req.url)           # returns 'https://tutsplus.com/'

print(req.history)      
# returns [<Response [301]>, <Response [301]>]

print(req.headers['Content-Type'])
# returns 'text/html; charset=utf-8'

utf-8
200
0:00:00.220539
https://www.quandl.com/api/v3/datatables/WIKI/PRICES.json?ticker=GOOG&api_key=BQR2bnRMkoJwe8QVn_6_
[]
application/json; charset=utf-8

In [4]:
data_dict = req.json()
# temp = json.dumps(data_dict)
# ticker_data = json.dumps(temp)

In [5]:
columns = []
temp = data_dict['datatable']['columns']
for item in temp:
    columns.append(item['name'])

In [6]:
columns

['ticker',
 'date',
 'open',
 'high',
 'low',
 'close',
 'volume',
 'ex-dividend',
 'split_ratio',
 'adj_open',
 'adj_high',
 'adj_low',
 'adj_close',
 'adj_volume']

In [7]:
data = []
for i in range(len(data_dict['datatable']['data'])):
    data.append(data_dict['datatable']['data'][i])

In [8]:
data_df = pd.DataFrame(data, columns=columns)
len(data_df)

1007

In [9]:
data_df.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,GOOG,2014-03-27,568.000,568.00,552.92,558.46,13100.0,0.0,1.0,568.000,568.00,552.92,558.46,13100.0
1,GOOG,2014-03-28,561.200,566.43,558.67,559.99,41100.0,0.0,1.0,561.200,566.43,558.67,559.99,41100.0
2,GOOG,2014-03-31,566.890,567.00,556.93,556.97,10800.0,0.0,1.0,566.890,567.00,556.93,556.97,10800.0
3,GOOG,2014-04-01,558.710,568.45,558.71,567.16,7900.0,0.0,1.0,558.710,568.45,558.71,567.16,7900.0
4,GOOG,2014-04-02,565.106,604.83,562.19,567.00,146700.0,0.0,1.0,565.106,604.83,562.19,567.00,146700.0

In [ ]:
##Plotting
import numpy as np

from bokeh.layouts import gridplot
from bokeh.plotting import figure, show, output_file

def datetime(x):
    return np.array(x, dtype=np.datetime64)

p1 = figure(x_axis_type="datetime", title="Stock Closing Prices")
p1.grid.grid_line_alpha=0.3
p1.xaxis.axis_label = 'Date'
p1.yaxis.axis_label = 'Price'

p1.line(datetime(data_df['date']), data_df['adj_close'], color='#A6CEE3', legend='GOOG')
p1.legend.location = "top_left"

show(p1)
# aapl = np.array(data_df['adj_close'])
# aapl_dates = np.array(data_df['date'], dtype=np.datetime64)

# window_size = 30
# window = np.ones(window_size)/float(window_size)
# aapl_avg = np.convolve(aapl, window, 'same')

# p2 = figure(x_axis_type="datetime", title="AAPL One-Month Average")
# p2.grid.grid_line_alpha = 0
# p2.xaxis.axis_label = 'Date'
# p2.yaxis.axis_label = 'Price'
# p2.ygrid.band_fill_color = "olive"
# p2.ygrid.band_fill_alpha = 0.1

# p2.circle(aapl_dates, aapl, size=4, legend='close',
#           color='darkgrey', alpha=0.2)

# p2.line(aapl_dates, aapl_avg, legend='avg', color='navy')
# p2.legend.location = "top_left"

#show(gridplot([[p1,p2]], plot_width=400, plot_height=400))