In [70]:
#import quandl
import requests
from requests.auth import HTTPBasicAuth
#import simplejson as json
import json
import pandas as pd
from bokeh.plotting import figure
from bokeh.io import show, output_notebook
from bokeh.models import ColumnDataSource
import bokeh

In [15]:
payload = ('bhavikaj@gmail.com','bhavikaj-di')
url = 'https://www.quandl.com/api/v3/datatables/WIKI/PRICES.json?api_key=BQR2bnRMkoJwe8QVn_6_'
req = requests.get(url, auth=HTTPBasicAuth('bhavikaj@gmail.com','bhavikaj-di'))

In [16]:
print(req.encoding)      # returns 'utf-8'
print(req.status_code)   # returns 200
print(req.elapsed)       # returns datetime.timedelta(0, 1, 666890)
print(req.url)           # returns 'https://tutsplus.com/'

print(req.history)      
# returns [<Response [301]>, <Response [301]>]

print(req.headers['Content-Type'])
# returns 'text/html; charset=utf-8'

utf-8
200
0:00:01.181683
https://www.quandl.com/api/v3/datatables/WIKI/PRICES.json?api_key=BQR2bnRMkoJwe8QVn_6_
[]
application/json; charset=utf-8

In [55]:
data_dict = req.json()
# temp = json.dumps(data_dict)
# ticker_data = json.dumps(temp)

In [52]:
columns = []
temp = data_dict['datatable']['columns']
for item in temp:
    columns.append(item['name'])

In [53]:
columns

['ticker',
 'date',
 'open',
 'high',
 'low',
 'close',
 'volume',
 'ex-dividend',
 'split_ratio',
 'adj_open',
 'adj_high',
 'adj_low',
 'adj_close',
 'adj_volume']

In [60]:
data = []
for i in range(len(data_dict['datatable']['data'])):
    data.append(data_dict['datatable']['data'][i])

In [63]:
data_df = pd.DataFrame(data, columns=columns)

In [64]:
data_df.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,1.0,31.041951,34.112034,27.289627,30.018590,44739900.0
1,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,29.295415,29.336350,27.160002,27.548879,10897100.0
2,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,28.183363,30.018590,27.330562,30.018590,4705200.0
3,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,28.995229,29.766161,27.460188,27.460188,4274400.0
4,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,1.0,27.378319,28.613174,27.289627,28.012803,3464400.0

In [ ]:
##Plotting
import numpy as np

from bokeh.layouts import gridplot
from bokeh.plotting import figure, show, output_file
from bokeh.sampledata.stocks import AAPL, GOOG, IBM, MSFT

def datetime(x):
    return np.array(x, dtype=np.datetime64)

p1 = figure(x_axis_type="datetime", title="Stock Closing Prices")
p1.grid.grid_line_alpha=0.3
p1.xaxis.axis_label = 'Date'
p1.yaxis.axis_label = 'Price'

p1.line(datetime(AAPL['date']), AAPL['adj_close'], color='#A6CEE3', legend='AAPL')
p1.line(datetime(GOOG['date']), GOOG['adj_close'], color='#B2DF8A', legend='GOOG')
p1.line(datetime(IBM['date']), IBM['adj_close'], color='#33A02C', legend='IBM')
p1.line(datetime(MSFT['date']), MSFT['adj_close'], color='#FB9A99', legend='MSFT')
p1.legend.location = "top_left"

aapl = np.array(AAPL['adj_close'])
aapl_dates = np.array(AAPL['date'], dtype=np.datetime64)

window_size = 30
window = np.ones(window_size)/float(window_size)
aapl_avg = np.convolve(aapl, window, 'same')

p2 = figure(x_axis_type="datetime", title="AAPL One-Month Average")
p2.grid.grid_line_alpha = 0
p2.xaxis.axis_label = 'Date'
p2.yaxis.axis_label = 'Price'
p2.ygrid.band_fill_color = "olive"
p2.ygrid.band_fill_alpha = 0.1

p2.circle(aapl_dates, aapl, size=4, legend='close',
          color='darkgrey', alpha=0.2)

p2.line(aapl_dates, aapl_avg, legend='avg', color='navy')
p2.legend.location = "top_left"

output_file("stocks.html", title="stocks.py example")

show(gridplot([[p1,p2]], plot_width=400, plot_height=400))